body {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  background-color: #f3f3f3;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid white;
  border-bottom: 5px solid transparent;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 6px solid white;
  border-bottom: 5px solid transparent;
}

.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid white;
}

.header__top {
  background-color: #222222;
}

.header__bottom {
  background-color: #f10e34;
  position: relative;
  z-index: 1;
}

.menu-bottom__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: uppercase;
  padding: 20px 0;
}

.menu-bottom__link {
  font-size: 15px;
  color: #ffffff;
  margin-right: 45px;
}

.top-header {
  background-color: #222222;
  height: 120px;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
}

.top-header__logo a {
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-header__logo a img {
  margin-left: -55px;
}

.top-header__logo a h2 {
  font-size: 25px;
  font-style: italic;
  color: #ffffff;
}

.top-header__logo a h2 span {
  color: #f10e34;
}

.top-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.top-header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20px;
  flex: 0 1 20px;
  cursor: pointer;
}

.top-header__cart img {
  background-color: #f10e34;
  border-radius: 24px;
  padding: 15px;
}

.top-header__pay {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 60px 0 6px;
}

.top-header__pay b {
  font-weight: normal;
  font-size: 14px;
}

.top-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 160px;
  margin-bottom: 5px;
  width: 48%;
}

.top-header__search input {
  width: 92%;
  padding: 10px 0 10px 25px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  position: relative;
  z-index: 2;
}

.top-header__search input::-webkit-input-placeholder {
  font-family: "Lato";
}

.top-header__search input::-moz-placeholder {
  font-family: "Lato";
}

.top-header__search input:-ms-input-placeholder {
  font-family: "Lato";
}

.top-header__search input::-ms-input-placeholder {
  font-family: "Lato";
}

.top-header__search input::placeholder {
  font-family: "Lato";
}

.top-header__search button {
  cursor: pointer;
  background-color: #f10e34;
  border: none;
  padding: 10.5px 20px;
  margin-left: -2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #ffffff;
}

.menu-header__link {
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.page__side {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  padding: 0;
  margin-bottom: 30px;
}

.page__menu {
  margin-top: -55px;
  background-color: #ffffff;
}

.page__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0px 0px 0px 40px;
}

.page__body {
  margin-top: 55px;
}

.banner-page__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.banner-page__image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 40px;
}

.banner-page__header {
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
  margin-left: -350px;
  font-family: "Lato Black";
  line-height: 14px;
}

.banner-page__header h2 {
  color: #303a7a;
  font-size: 40px;
}

.banner-page__header h1 {
  color: #ffffff;
  font-size: 60px;
}

.banner-page__header h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 0px;
  padding-bottom: 50px;
}

.banner-page__header a {
  font-family: "Lato Regular";
  border: 2px solid #000000;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 25px;
}

.banner-page__footer {
  background-color: #f10e34;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  padding: 20px 60px 25px 50px;
  margin-bottom: 35px;
}

.banner-page__item {
  line-height: 6px;
  color: #ffffff;
}

.banner-page__item h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}

.banner-page__item p {
  font-size: 15px;
  letter-spacing: 1px;
}

.menu-page__header {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 38px;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.menu-page__header ::before {
  content: url("../image/body/categories.png");
  position: relative;
  z-index: 5;
  left: -20px;
}

.menu-page__list {
  -webkit-box-shadow: 0 0 10px #ececec;
  box-shadow: 0 0 10px #ececec;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.menu-page__list li {
  padding: 15px 0px 20px 0px;
  border-bottom: 1px solid #eaeaea;
}

.menu-page__list li:last-child {
  border: none;
  padding-bottom: 25px;
}

.menu-page__list li::before {
  content: url("../image/body/arrow.jpg");
  position: relative;
  left: -20px;
}

.side-mini {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.side-mini__content {
  padding: 0px 25px;
}

.side-mini__arrow-background {
  background-color: #cacaca;
  padding: 7px 9px 5px 7px;
  border-radius: 24px;
  margin-right: 6px;
}

.side-mini__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-mini__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid  #eaeaea;
  margin-bottom: 25px;
}

.side-mini__body {
  text-align: center;
}

.side-mini__body h4 {
  color: #6e6e6e;
  padding: 15px 0px 10px 0px;
}

.side-mini__old-price {
  color: #6e6e6e;
  margin-right: 15px;
}

.side-mini__rating {
  padding: 12px 0px 35px 0px;
}

.side-mini__newsletters-body p {
  color: #494949;
}

.side-mini__newsletters-body form {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.side-mini__newsletters-body form input {
  border: none;
  background-color: #f3f3f3;
  padding: 15px 10px;
  width: 100%;
  border-radius: 6px;
}

.side-mini__newsletters-body form button {
  border: none;
  background-color: #f22f49;
  color: #ffffff;
  padding: 18px 24px;
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 25px;
}

.body-content {
  background-color: #ffffff;
  margin-bottom: 35px;
}

.body-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 25px 5px 45px;
}

.body-content__header h1 {
  text-transform: uppercase;
  font-size: 22px;
}

.body-content__menu {
  text-transform: none;
}

.body-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
}

.body-content__link {
  padding-left: 30px;
}

.body-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 25px;
}

.body-content__item-image {
  padding-right: 20px;
}

.body-content__item-content {
  margin-top: -18px;
  text-align: start;
  font-size: 15px;
}

.body-content__footer-item {
  padding: 0px 40px;
  margin-bottom: 70px;
}

.body-content__footer-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 20px;
}

.body-content__footer-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
}

.body-content__mini-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-content__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
}

.body-content__banner-item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.body-content__banner-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: "Lato Black";
  padding: 0px 30px 0px 0px;
}

.body-content__banner-item-content h1 {
  font-size: 46px;
  margin: 0px;
  color: #dfdbdc;
  padding-top: 30px;
}

.body-content__banner-item-content h1 b span {
  font-size: 50px;
}

.body-content__banner-item-content h2 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #585858;
  padding-bottom: 20px;
}

.body-content__banner-item-content a {
  text-transform: uppercase;
  color: #108dea;
  text-decoration: underline;
}

.body-content__banner-item-content p {
  color: #c1bbbd;
  font-family: "Lato";
  font-size: 14px;
  margin-right: -10px;
}

.body-content__mini-banner {
  background: url("../image/body/mini-banner.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 100px;
  text-transform: uppercase;
}

.body-content__mini-banner h1,
.body-content__mini-banner h2 {
  font-size: 22px;
  line-height: 0px;
  margin-right: 1%;
}

.body-content__mini-banner h1 span,
.body-content__mini-banner h2 span {
  color: #0f8ce9;
}

.body-content__mini-banner h1 {
  margin-right: 12.5%;
  padding-top: 5%;
}

.body-content__mini-banner a {
  background-color: #f22f49;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 24px;
  margin-right: 20%;
  margin-top: 2%;
}

.footer-brand {
  background-color: #f10e34;
  height: 180px;
}

.footer-main {
  background-color: #222222;
  padding-top: 80px;
}

.footer-main__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.footer-main__item-color {
  color: #919191;
  font-size: 15px;
}

.footer-main__item h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-main__contact-info p {
  line-height: 26px;
  padding-bottom: 20px;
}

.footer-main__contact-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-main__contact-logo h2 {
  font-size: 25px;
  text-transform: none;
  font-style: italic;
}

.footer-main__contact-logo h2 span {
  color: #f10e34;
}

.footer-main__contact-logo img {
  margin-left: -55px;
}

.footer-main__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
}

.footer-main__contact-item img {
  height: 100%;
  padding-right: 20px;
}

.footer-main__contact-item p {
  margin: 0;
}

.footer-main__information h2 {
  padding-bottom: 15px;
}

.footer-main__information-list {
  padding: 0;
}

.footer-main__information-list li {
  padding-bottom: 20px;
}

.footer-main__information-link {
  color: #919191;
}

.footer-main__social-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-main__social-left {
  padding-left: 80px;
}

.footer-main__social-left:first-child {
  color: red;
}

.footer-main__social-item {
  padding-bottom: 1px;
}

.footer-main__timetable-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-main__timetable-content img {
  height: 100%;
  padding-right: 20px;
  margin-top: -26px;
}

.footer-main__timetable-content p {
  line-height: 28px;
}

.footer-main__bottom {
  background-color: #1f1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.footer-main__bottom p {
  padding-bottom: 20px;
}

.footer-main__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.footer-main__bottom-link {
  padding: 0px 15px;
  color: #ffffff;
}

@media (max-width: 1025px) {
  .banner-page__header h1 {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .menu-bottom__link {
    margin-right: 25px;
    font-size: 14px;
  }

  .banner-page__content {
    padding-right: 0px;
  }

  .banner-page__header {
    margin-left: -320px;
    padding-top: 50px;
  }

  .banner-page__header h2 {
    font-size: 28px;
  }

  .banner-page__header h3 {
    padding-bottom: 40px;
  }

  .banner-page__footer {
    margin-top: 65px;
    padding: 20px 30px 15px 25px;
  }

  .banner-page__item p {
    font-size: 14px;
    line-height: 15px;
  }

  .body-content__header h1 {
    min-width: 40%;
  }

  .body-content__list {
    margin-left: -20px;
    padding-left: 0px;
    padding-right: 20px;
  }

  .body-content__item img {
    padding: 0px 10px;
  }

  .body-content__item-image {
    padding-right: 5px;
  }

  .body-content__item-content img {
    margin-left: -100px;
  }

  .body-content__item-content h4 {
    padding-bottom: 0px;
  }

  .body-content__banner-item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .body-content__banner-item-content h1 {
    font-size: 38px;
  }

  .body-content__banner-item-content h1 b span {
    font-size: 44px;
  }

  .body-content__banner-item-content h2 {
    padding-left: 30px;
  }

  .body-content__mini-banner h1,
  .body-content__mini-banner h2 {
    font-size: 20px;
  }

  .footer-main__social-left {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .top-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .top-header__logo a h2 {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
  }

  .top-header__logo a h2 span {
    color: #f10e34;
  }

  .top-header__search {
    margin-left: 60px;
  }

  .top-header__cart {
    margin-right: -40px;
  }
}

@media (max-width: 768px) {
  .menu-bottom__list {
    height: 50px;
  }

  .menu-bottom__link {
    display: none;
  }

  .banner-page__header {
    margin-left: -220px;
    padding-top: 40px;
  }

  .banner-page__header h2 {
    font-size: 20px;
  }

  .banner-page__header h1 {
    font-size: 30px;
  }

  .banner-page__header h3 {
    padding-bottom: 20px;
  }

  .banner-page__header a {
    font-size: 15px;
    padding: 5px 20px;
  }

  .banner-page__footer {
    padding: 10px 10px 0px 10px;
    margin-top: 44px;
  }

  .banner-page__item h2 {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 0px;
  }

  .side-mini__title h1 {
    font-size: 18px;
  }

  .body-content__header {
    padding: 10px 25px 5px 25px;
  }

  .body-content__list {
    display: none;
  }

  .body-content__body {
    padding: 0px 15px;
  }

  .body-content__item-content img {
    margin-left: 0px;
  }

  .body-content__footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .body-content__footer-item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
  }

  .body-content__footer-item-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .body-content__banner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .body-content__banner-item {
    max-height: 0%;
    margin-bottom: 20px;
  }

  .body-content__banner-item-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .body-content__banner-item-content h1 {
    padding-top: 0px;
  }

  .body-content__mini-banner {
    margin-bottom: 20px;
  }

  .footer-main__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-main__information h2 {
    padding-bottom: 0px;
  }

  .footer-main__social-left {
    padding-left: 20px;
  }

  .footer-main__timetable-content p {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .header__bottom {
    position: relative;
    z-index: 2;
  }

  .page__content {
    padding: 0;
  }

  .banner-page {
    margin-top: 30px;
  }

  .banner-page__image {
    left: 0px;
  }

  .banner-page__header {
    margin-left: -150px;
    padding-top: 15px;
  }

  .banner-page__header h2 {
    font-size: 18px;
    line-height: 0;
  }

  .banner-page__header h1 {
    font-size: 25px;
  }

  .banner-page__header h3 {
    font-size: 15px;
    padding-bottom: 15px;
  }

  .banner-page__footer {
    padding: 10px 10px 0px 10px;
    margin-top: 25px;
  }

  .banner-page__item h2 {
    line-height: 15px;
  }

  .banner-page__item p {
    margin-top: -5px;
    font-size: 13px;
  }

  .menu-page__header {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-left: -20px;
  }

  .body-content__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .body-content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .body-content__item-content {
    padding-top: 15px;
  }

  .body-content__banner-item {
    display: block;
  }

  .body-content__banner-item-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }

  .body-content__banner-item-content h1 {
    padding-top: 10px;
  }

  .body-content__mini-banner {
    padding-top: 18%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .page__container {
    display: block;
    padding: 0 20px;
  }

  .menu-header__burger {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 20px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 5;
  }

  .menu-header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    left: 0;
    background-color: white;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .menu-header__burger span:first-child {
    top: 0px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .menu-header__burger span:last-child {
    top: auto;
    bottom: 0px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .menu-header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .menu-header__burger.active span:first-child {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .menu-header__burger.active span:last-child {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu-header__list {
    position: fixed;
    z-index: 3;
    top: -112%;
    left: 0;
    width: 100%;
    height: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    padding-top: 110px;
    -webkit-transition: all 1.5s ease 0s;
    -o-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
    background-color: #222222;
    font-size: 18px;
  }

  .menu-header__list li {
    margin-bottom: 15px;
  }

  .menu-header__list li a {
    padding: 0;
  }

  .menu-header__list.active {
    top: -4%;
  }

  .container {
    padding: 0 40px;
  }

  .top-header {
    height: 130px;
  }

  .top-header__content {
    display: block;
  }

  .top-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 10px;
  }

  .top-header__logo a img {
    width: 50%;
  }

  .top-header__search {
    width: 110%;
    margin-left: -6%;
    position: relative;
    z-index: 1;
  }

  .top-header__cart {
    margin-top: -200px;
  }

  .top-header__cart span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .top-header__cart.active {
    -webkit-transition: all 2.5s ease 0s;
    -o-transition: all 2.5s ease 0s;
    transition: all 2.5s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -80px;
    margin-left: 20px;
    position: relative;
    z-index: 4;
  }
}

@media (max-width: 375px) {
  .banner-page__header {
    margin-left: -120px;
  }

  .banner-page__header h2 {
    font-size: 14px;
  }

  .banner-page__header h1 {
    font-size: 20px;
  }

  .banner-page__header h3 {
    font-size: 13px;
  }

  .banner-page__header a {
    font-size: 14px;
  }
}

@media (max-width: 374px) {
  .banner-page__footer {
    margin-top: 15px;
  }
}